.root{
    --col-width: 8.3333333333px;
}
.container{
    /* border: 1px solid blue; */
    max-width: 900px;
    margin: auto;
}

.row{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.col-1 {
    width: var(--col-width);
}

.col-2 {
    width: var(--col-width)*2;
}

.col-3 {
    width: var(--col-width)*3;
}

.col-4 {
    width: var(--col-width)*4;
}

.col-5 {
    width: var(--col-width)*5;
}

.col-6 {
    width: var(--col-width)*6;
}

.col-7 {
    width: var(--col-width)*7;
}

.col-8 {
    width: var(--col-width)*8;
}

.col-9 {
    width: var(--col-width)*9;
}

.col-10 {
    width: var(--col-width)*10;
}

.col-11 {
    width: var(--col-width)*11;
}

.col-12 {
    width: var(--col-width)*12;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-11, .col-12{
    padding: 10px;
    /* border: 1px solid blue; */
}

@media (max-width:900px) {
    .row{
        display: inherit;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-11, .col-12{
        width: 100%;
        /* border: 1px solid blue; */
    }
}

.col-imagen{
    width: 200px;
    height: 150px;
}